* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.7s;
}
body{
  background-color: black;
}

main {
  padding: 20px;
}

.card-group {
  padding: 20px;
  gap: 20px;
  background-color: black;
}

.card-group .card {
  padding: 20px;
  box-shadow: 0px 0px 7px rgba(34, 34, 34, 0.511);
}

/* animação para passar por cima dos card */
.card-group .card:hover {
  /* ao passar por cima do card, dar efeito de profundidade */
  box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.511);

  /* cursos para ficar como ponteiro */
  cursor: pointer;
}

header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: #ffffffae;
  display: flex;
  flex-direction: row;
  /* centralizar os itens de acordo com o container */
  align-items: left;
  flex-wrap: wrap;
}
header h1{
  color: white;
  margin-top: 60px;
}
header .botao {
  align-items: left;
}
/* estilizaçao dos componentes da nav bar*/
a {
  color: #5e9cee;
  /* color: #fff; */
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}
h1:hover {
  /* font-family: "Times New Roman", Times, serif; */
  transition: 0.3s;
  opacity: 0.7;
  /* box-shadow: 0px 0px 7px rgba(34, 34, 34, 0.511); */
}
header{
justify-content: space-around;
padding: 10px;

}
.logo-curso{
  width: 40vh;
 margin-top: 10px;
}
.apresentacao{
  text-align: center;
  color: white;
}
